body {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


#textArea {
    height: 80%;
    width: 45%;
    float: left;
    border: 1px solid silver;
    overflow:auto;        
}

.json-container {
    height: 80%;
    width: 54%;
    display: inline-block;
    top: 0px;
    overflow:auto;
}
